body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 3em;
    background: linear-gradient(to right, #ff00ee, #c324fd); /* Adjust gradient colors */
    color: #fff;
}

header {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    padding: 20px;
    color: #fff;
}

h1 {
    margin: 0;
}

h2 {
    color: #fff;
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
}

section {
    margin-bottom: 30px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}
